.logo{
  width: 100px;
  padding: 5%;
}

.margin_top_welcome{
  margin-top: 10%;
}

.row .col .borders-box{
  border: 2px solid #AC4D1F;
  background-color: rgba(255,184,150,0.4);
  margin-right: 10%;
  margin-left: 10%;
  width: 80%;
}

.borders-box p{
  margin: 1em;
}

.row .col .error-message{
    border: 2px solid red;
    color: red;
}

.instructions {
    color: rgba(158, 158, 158, 0.9);
    font-size: 14px;
}

.extra-margin-top{
    margin-top: 60px;
}

.row .extra-padding-bottom{
    padding-bottom: 30px;
}


/*Table*/
.total-information{
    transform: translateY(100%);
    position: relative;
    top: 50%;
}







/*FOOTER*/
