body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  /*position: absolute;*/
  bottom: 0px;
  width: 100%;
}

/*Colors*/
.color-primary-0 { color: #CC6B3C }	/* Main Primary color */
.color-primary-1 { color: #FFB896 }
.color-primary-2 { color: #EA8F63 }
.color-primary-3 { color: #AC4D1F }
.color-primary-4 { color: #852F06 }



/* As RGBa codes */

.rgba-primary-0 { color: rgba(204,107, 60,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba(255,184,150,1) }
.rgba-primary-2 { color: rgba(234,143, 99,1) }
.rgba-primary-3 { color: rgba(172, 77, 31,1) }
.rgba-primary-4 { color: rgba(133, 47,  6,1) }


.logo{
  width: 100px;
}

.footer_logo{
  width: 200px;
}

a{
    color: #EA8F63;
}

a:hover, a:active, a:focus{
  text-decoration: none;
  color: #852F06;
}

nav ul a:active,
nav ul a:hover,
nav ul a:focus{
    color: #FFB896;
}

span{
  font-style: oblique;
}

.orange-bgColor, footer.page-footer{
  background-color: #AD4D1E;
}

.orange-light-bgColor{
  background-color: #CC6B3C;
}



.img-signUp {
  width: 85%;
  transform: translateX(-50%);
  left: 35%;
  position: relative;
  margin-top: 20%;
}

.img-logIn {
  width: 75%;
  transform: translateX(-50%);
  left: 40%;
  position: relative;
  margin-top: 10%
}

/*Form colors*/
/* label color */
 .input-field label {
   color: #EA8F63;
 }
 /* label focus color */
 .input-field input[type=text]:focus + label,
 .input-field input[type=email]:focus + label,
 .input-field input[type=password]:focus + label {
   color: #852F06;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus,
 .input-field input[type=email]:focus,
 .input-field input[type=password]:focus {
   border-bottom: 1px solid #852F06;
   box-shadow: 0 1px 0 0 #852F06;
 }
 /* valid color */
 .input-field input[type=text].valid,
 .input-field input[type=email].valid,
 .input-field input[type=password].valid {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
 }
 /* invalid color */
 .input-field input[type=text].invalid,
 .input-field input[type=email].invalid,
 .input-field input[type=password].invalid {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
 }
 /* icon prefix focus color */
 .input-field .prefix.active {
   color: #CC6B3C;
 }

 .box{
     background-color: rgba(255,184,150,0.2);
     border-radius: 10px;
 }

 .extra-margin-top{
     margin-top: 60px;
 }

 /*Buttons*/

.btn, .btn-large{
    background-color: #CC6B3C;
}

.btn:hover, .btn-large:hover,
.btn:hover, .btn-large:link,
.btn:hover, .btn-large:active{
    background-color: #AC4D1F;
    color: white;
}