
html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}



#logo_navBar{
  height: 70px;
  margin-top: 12px;
}

.menuBar{
  height: 80px;
}

.orange-color{
  background-color: #AD4D1E;
}

.orange-light-color{
  background-color: #CC6B3C;
}

p{
  color: white;
}

h1{
  text-transform: uppercase;
}

h5{
  text-transform: capitalize;
}

.menu-items{
  padding-right: 50px;
  text-transform: uppercase;
  height: 100%;
}

nav ul li, nav ul li a{
  height: 100%;
}

nav ul li a{
  padding-top: 8px;
}

a, a:hover, a:visited, a:active, a:link{
  text-decoration: none;
  color: white;
}

.member{
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.cell-spacing{
  margin: 30px 30px 30px 30px;
}

.practiques-section{
  margin-left: 24.5%;
  width: 100%;
  padding-left: 0px;
}

.practica-item{
  border: 2px solid #CC6B3C;
  margin: 3px 3px 3px 3px;
}

.error-panel{
  margin-top: 30%;
}

footer.page-footer{
  background-color: #AD4D1E;
}

.thumbnail-width{
  width: 50%;
  margin-left: 25%;
  margin-top: 5%;
  border: 1px solid #CC6B3C;

}

.titol_registre{
  text-align: center;
}

.send_button{
  text-align: right;
}