body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  /*position: absolute;*/
  bottom: 0px;
  width: 100%;
}

.logo{
  width: 100px;
}

.footer_logo{
  width: 200px;
}

a:hover, a:active{
  text-decoration: none;
  color: #CC6B3C;
}

span{
  font-style: oblique;
}

.orange-bgColor, footer.page-footer{
  background-color: #AD4D1E;
}

.orange-light-bgColor{
  background-color: #CC6B3C;
}

.img-signUp {
  width: 85%;
  transform: translateX(-50%);
  left: 35%;
  position: relative;
  margin-top: 20%;
}

.img-logIn {
  width: 75%;
  transform: translateX(-50%);
  left: 40%;
  position: relative;
  margin-top: 10%
}

/*Form colors*/
/* label color */
 .input-field label {
   color: #000;
 }
 /* label focus color */
 .input-field input[type=text]:focus + label,
 .input-field input[type=email]:focus + label,
 .input-field input[type=password]:focus + label {
   color: #000;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus,
 .input-field input[type=email]:focus,
 .input-field input[type=password]:focus {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
 }
 /* valid color */
 .input-field input[type=text].valid,
 .input-field input[type=email].valid,
 .input-field input[type=password].valid {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
 }
 /* invalid color */
 .input-field input[type=text].invalid,
 .input-field input[type=email].invalid,
 .input-field input[type=password].invalid {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
 }
 /* icon prefix focus color */
 .input-field .prefix.active {
   color: #000;
 }
